apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-ajidvmhh
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-ajidvmhh:bc926f4268211dab8cfe2c26ffb84aa013c788a9@sha256:96def528753fe5a6c19f8c764c130348efe1c7e40bdb62182221ea85985aa978
          name: container-image
